[submodule "libraries/OculusSDK"]
	path = libraries/OculusSDK
	url = https://github.com/jherico/OculusSDK.git
[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/jherico/glfw.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/jherico/glm.git
[submodule "libraries/libpng"]
	path = libraries/libpng
	url = https://github.com/jherico/libpng.git
[submodule "libraries/zlib"]
	path = libraries/zlib
	url = https://github.com/jherico/zlib.git
